/* Desktop Styles */
@media screen and (min-width: 1024px) {
	/* Homepage Styles */

	/* Header Styles */
	.header {
		background-color: #333;
		color: #fff;
		padding: 20px;
		transition: background-color 0.3s ease;
		cursor: pointer;

		&:hover {
			background-color: #555;
		}
	}

	.logo {
		width: 180px;
	}

	.main-navigation {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.menu {
		display: flex;
		align-items: center;
		margin-right: 20px;
	}

	.menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	.menu-links li {
		font-size: 18px;
		margin: 0 15px;

		&:hover {
			color: #ff9900;
		}
	}

	.profile-pic img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-left: 10px;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.1);
		}
	}

	/* Header Ends */

	/* Main Styles */
	.main {
		padding: 40px;
	}

	.mobile-hero-image {
		display: none;
	}

	.hero-image img {
		width: 100%;
		height: auto;
		margin: 20px auto;
	}

	.product-info {
		background-color: #fff;
		border-radius: 10px;
		padding: 40px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}

	.desc {
		font-size: 16px;
		line-height: 1.6;
	}

	.product-images img {
		width: 100%;
		height: auto;
		margin-top: 20px;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.1);
		}
	}

	.call-to-action {
		background-color: #f5f5f5;
		padding: 20px;
		text-align: center;
	}

	.mainArea {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.text2 {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.desc-2 {
		font-size: 16px;
	}

	.productimg {
		width: 100%;
		height: auto;
	}

	.product-colors {
		display: flex;
		margin-top: 30px;
	}

	.button {
		width: 50px;
		height: 50px;
		margin: 0 15px;
		border-radius: 50%;
		cursor: pointer;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.1);
		}
	}

	.button:nth-child(1) {
		margin-left: 0;
	}

	#btn1 {
		background-color: #c00;
		border: 2px dashed #000;
	}

	#btn2 {
		background-color: #fff;
		border: 2px dashed #000;
	}

	#btn3 {
		background-color: #000;
		border: 2px dashed #6b5f5f;
	}

	.price {
		font-size: 32px;
		margin: 40px 0;
		font-weight: bold;
	}

	.cartBtn {
		margin-bottom: 40px;
	}

	.cart {
		background-color: #333;
		color: #fff;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #555;
		}
	}

	/* Main Ends */

	/* Footer Styles */
	.footer {
		background-color: #333;
		color: #fff;
		padding: 24px;
		text-align: center;
	}

	.footer-links {
		margin-bottom: 20px;
		line-height: 30px;
	}

	.footer-link a {
		color: #fff;
		text-decoration: none;
		margin: 10px 30px;

		&:hover {
			color: #ff9900;
		}
	}

	.copyright-text {
		font-size: 14px;
	}

	/* Footer Ends */
	/* Homepage Ends */
}

/* Desktop Ends */